{{ define "header" }}

{{ end }}
{{ define "main" }}
<h1 class="py-5">{{ .Title }}</h1>
<div class="container text-left mb-5">
    
    {{ .Content }}

    <em style="color:#888; ">Last changed: {{ .Lastmod.Format "02.01.2006" }}</em>

</div>

{{ end }}