<header class="masthead px-5 py-4 mb-auto section-header">
    <div class="inner">
        <h1 class="h3 masthead-brand">
            <a class="nav-brand" href="{{ .Site.BaseURL }}">
                <img class="header-logo " src="img/logo.png" alt="" width="104" height="104">
            </a><br class="d-md-none">
                {{ .Site.Params.title | markdownify }}
        </h1>
        
        <nav class="nav nav-masthead justify-content-center nav-mobile">
            {{ range .Site.Params.navlinks }}
            <a class="nav-link" href="{{ absURL .url }}">{{ .name | markdownify }}</a>
            {{ end }}
        </nav>
        <!-- <p class="py-5 text-md-left text-center">Eine Initiative von Studierenden Deutschlands</p> -->
    </div>
</header>
