{{ define "main" }}


    <!-- <div class="container-fluid py-3" style="background-color: #0275d4;">
    <div class="container" >
        <h3 class="h4">Das sind wir</h3>
        <p class="text-justify px-4 mb-4">Wie kann ich helfen? — diesen Impuls kennen wir vermutlich alle. Er hat uns, deutschlandweit verteilte Studierende, für die Gründung von <b>Students for Ukraine</b> zusammengebracht. Es gibt bereits viele studentische Initiativen zur Unterstützung von Geflüchteter des Krieges. Jeden Tag werden es mehr. Den Überblick zu behalten, zu wissen, wo man wie anpacken kann und welche lokalen studentischen Projekte sich noch vernetzen könnten: das wollen wir ermöglichen.
        </p>
    </div>
    </div> -->

    <div class="p-4 mb-3 rounded-3 section-highlight">
        <div class="container-fluid py-5">
          <h2 class="display-5 font-weight-bold mb-5" style="color:white;">Übersicht schaffen. Lücken schließen. Netzwerk aufbauen.</h2>
          <div class="row px-4">
            <p class="col-md-6 fs-4 lead text-md-left" style="color:lightgray; font-weight: 600;">Wir vernetzen studentische Initiativen zur Unterstützung Geflüchteter des Krieges in der Ukraine.</p>
            <p class="col-md-6 fs-4 text-md-left" style="color:lightgray;">Wir zeigen Dir auf einen Blick, welche studentischen Initiativen an Deinem Hochschulort aktiv sind. Darüber hinaus fördern wir den Austausch zwischen den Initiativen und initiieren neue Projekte auf lokaler Ebene.</p>
          </div>
          <a href="#list-initiatives"><button class="btn btn-lg btn-warning mt-4 px-3" type="button">Initiativen durchsuchen 🔎</button></a>
        </div>
      </div>
    <div class="p-3 mb-3 rounded-3" style="background-color: #fdcb6e;">
      <div class="container-fluid py-5">
        <div class="row px-4">
          <p class="col-md-2">
            <img src="/promotion.png" style="max-width: 50%;"/>
          </p>
          <p class="col-md-7 p-1" style="text-align: left;">
            Wir laden alle laufenden Studierendeninitiativen am <b>Samstag, den 14. Mai um 15 Uhr</b> zum "runden Tisch" ein.
            Gemeinsam mit euch wollen wir Projekte diskutieren und uns miteinander vernetzen!
          </p>
          <p class="col-md-3">
            <a href="/Students_for_Ukraine_Einladung_Runder_Tisch_14.Mai.2022.pdf"><button class="btn btn m-1 px-3 w-100" style="background-color: var(--background-color-highlight); color: white;" type="button">📜 Programm und weitere Infos</button></a>
            <a href="https://forms.gle/8P6ygNtcy2VNduzUA"><button class="btn btn m-1 px-3 w-100" style="background-color: var(--background-color-highlight); color: white;" type="button">👉 Hier geht's zur Anmeldung</button></a>
          </p>
        </div>
      </div>
    </div>

    <!-- <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-center font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Das wollen wir erreichen
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body text-justify px-5">
                Wir wollen deutschlandweit eine Übersicht der lokaler studentischer Initiativen zur
                Unterstützung Geflüchteter des Kriegs in der Ukraine schaffen und diese vernetzen. Wir verfolgen dabei vor allem drei Ziele:<br><br>

                <div class="badge bg-primary text-wrap text-light" style="width: 6rem;">
                    Übersicht schaffen
                </div>&nbsp;Sehe auf einen Blick, wo du selbst in studentischen Initiativen an deinem Hochschulort aktiv werden kannst und tritt mit Ansprechpartnern in Kontakt.
                <br><br>

                <div class="badge bg-primary text-wrap text-light" style="width: 6rem;">
                    Lücken schließen
                </div>&nbsp;Wir machen auf lokaler Ebene fehlende Unterstützungsstrukturen sichtbar und wollen so zur Gründung weiterer Initiativen motivieren.
                <br><br>

                <div class="badge bg-primary text-wrap text-light" style="width: 6rem;">
                    Netzwerk aufbauen
                </div>&nbsp;Durch die Übersicht wollen wir den direkten Ideen-/Erfahrungsaustausch und die Bildung lokaler wie überregionaler Netzwerke befördern.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-center collapsed font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Für wen ist diese Seite?
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body text-justify px-5">
              Für alle die helfen wollen! Kennt ihr lokale (studentische) Initiativen, die bereits an Hochschulorten ins Leben gerufen wurden? Oder habt ihr selbst ein Hilfsprojekt gestartet? Wollt ihr ein Projekt starten und wisst nicht, ob es so ein Projekt an eurer Hochschule bereits gibt oder wollt ihr euch mit Studierenden austauschen, die ein ähnliches Projekt bereits initiiert haben? <b>Tragt Initiativen ein</b>, verschafft euch einen Überblick oder kontaktiert vermerkte Ansprechpartner*innen.
            </div>
          </div>
        </div>
      </div> -->

{{ $shops := .Site.Data.groups }}
    <div class="container pt-1">
        

        {{ with .Site.Params.map }}

        <h3 class="h3 my-4">{{ .mapTitle | markdownify }}</h3>
        <a class="btn btn-primary px-3" href="{{ .buttonURL | absURL }}" role="button">{{ .buttonTitle | markdownify }}</a>

        {{ end }}
    <!-- list the stores -->
        <div class="row map-border my-5">
            <div class="col-12 col-md-5 col-lg-4 order-2 order-md-1 px-md-0">
                <!-- search on top -->
                <div class="p-4">
                    <div class="input-group shadow-sm mt-3">
                        <input class="form-control border-0" type="text" id="storefinder" onkeyup="findStore();" placeholder="PLZ in deiner Nähe">
                        <div class="input-group-append">
                            <button class="btn btn-secondary bg-white text-secondary border-0 py-0" type="submit">Suchen</button>
                        </div>
                    </div>
                    <p id="result" class="small text-center mt-3 mb-0"></p>
                </div>
                <!-- list of shops -->
                <div class="shop-container d-flex flex-column flex-nowrap align-content-start px-md-0">
                    {{ range sort $shops "shopPLZ" "asc" }}
                        {{ if .shopActive }}
                            <div class="sItem flex-grow-0 px-0 py-2 p-md-2" 
                                data-name="{{ .shopName }}" 
                                data-uni="{{ .shopUniversity }}" 
                                data-plz="{{ .shopPLZ }}" 
                                data-cty="{{ .shopCountry }}" 
                                data-lat="{{ .shopLatitude }}" 
                                data-lon="{{ .shopLongitude }}" 
                                data-website="{{ .shopWebsite }}"
                                data-insta="{{ .shopInstagram }}"

                                >
                                <div class="sItem--offline rounded-lg shadow-sm px-3 py-2">
                                    <h5 class="h6 mb-0">{{ .shopName }}</h5>
                                    <p class="small mt-1 mb-0">{{ .shopUniversity }}<br>{{ .shopPLZ }}, {{ .shopCountry }}<br>
                                        {{ if .shopWebsite }}
                                        <a href="{{ .shopWebsite }}">{{ .shopWebsite }}</a><br>
                                        {{ end }}
                                        {{ if .shopEmail }}
                                        <a href="mailto:{{ .shopEmail }}"><i class="bi bi-envelope-fill" style="font-size: 1.1rem;"></i><a>
                                        {{ end }}
                                        {{ if .shopInstagram }}
                                        &nbsp;|&nbsp; <a href="{{ .shopInstagram }}"><i class="bi bi-instagram" style="font-size: 1.1rem;"></i><a>
                                        {{ end }}
                                        {{ if .shopTwitter }}
                                        &nbsp;|&nbsp; <a href="{{ .shopTwitter }}"><i class="bi bi-twitter" style="font-size: 1.1rem;"></i></a> 
                                        {{ end }}
                                        {{ if .shopDiscord }}
                                        &nbsp;|&nbsp; <a href="{{ .shopDiscord }}"><i class="bi bi-discord" style="font-size: 1.1rem;"></i></a> 
                                        {{ end }}
                                        {{ if .shopWhatsApp }}
                                        &nbsp;|&nbsp; <a href="{{ .shopWhatsApp }}"><i class="bi bi-whatsapp" style="font-size: 1.1rem;"></i></a> 
                                        {{ end }}
                                        {{ if .shopTelegram }}
                                        &nbsp;|&nbsp; <a href="{{ .shopTelegram }}"><i class="bi bi-telegram" style="font-size: 1.1rem;"></i></a> 
                                        {{ end }}
                                        {{ if .shopSignal }}
                                        &nbsp;|&nbsp; <a href="{{ .shopSignal }}"><i class="bi bi-signal" style="font-size: 1.1rem;"></i></a> 
                                        {{ end }}
                                        {{ if .shopFacebook }}
                                        &nbsp;|&nbsp; <a href="{{ .shopFacebook }}"><i class="bi bi-facebook" style="font-size: 1.1rem;"></i></a> 
                                        {{ end }}
                                        {{ if .shopLinkedIn }}
                                        &nbsp;|&nbsp; <a href="{{ .shopLinkedIn }}"><i class="bi bi-linkedin" style="font-size: 1.1rem;"></i></a> 
                                        {{ end }}
                                        
                                    </p>
                                </div>
                            </div>
                        {{ end }}
                    {{ end }}
                    </div>
            </div>
            <!-- MAP -->
            <div class="col-12 col-md-7 col-lg-8 map-container order-1 order-md-2 px-0">
                <div id="map" style="width:100%;height:100%;"></div>
            </div>
        </div>

        <hr class="section-highlight" id="list-initiatives">
    </div>


    <!-- list of initiatives -->
    <div class="container mb-3" >
        {{ with .Site.Params.initiatives }}
            <h3 class="h3 my-4">{{ .listTitle }}</h3>
        
        <iframe class="airtable-embed" src="https://airtable.com/embed/shrNCVknem6UMSgBP?backgroundColor=yellow&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
        <a class="btn btn-primary my-4 px-3" href="{{ .buttonURL | absURL }}" role="button">{{ .buttonTitle | markdownify }}</a>
        {{ end }}
    </div>

   <!-- group introduction --> 
    <div class="p-4 section-header" id="about-us">
        <div class="container-fluid py-3">
          <div class="row">
            <h5 class="col-md-6 display-5 font-weight-bold text-center mb-4">Wer steckt hinter Students for Ukraine?</h5>
            <h5 class="col-md-6 display-5 font-weight-bold text-center mb-4">Unterstütze uns!</h5>
            <p class="col-md-6 fs-4 text-left">Es gibt bereits viele Initiativen zur Unterstützung von Geflüchteten des Krieges in der Ukraine. Wir haben <b>Students for Ukraine</b> mit dem Ziel gegründet, alle Angebote übersichtlich zusammenzufassen und Studierenden Möglichkeiten des Engagements aufzuzeigen. Als deutschlandweit verstreute Stipendiat:innen der <a href="https://www.bmbf.de/bmbf/de/bildung/begabtenfoerderung/die-begabtenfoerderungswerke/die-begabtenfoerderungswerke_node.html">deutschen Förderwerke</a> möchten wir unsere Netzwerke nutzen, um den Austausch untereinander zu fördern und gezielt neue Angebote auf lokaler Ebene zu schaffen, die auf bisher nicht erfasste Zielgruppen zugeschnitten sind.</p>
            <p class="col-md-6 fs-4 text-left">Es ist ganz einfach — leite den Link zu unserer Website zu Deinen Freunden und Bekannten und bitte sie, weitere (studentische) Initiativen einzutragen. <br><br>Wenn Du die <b>Students for Ukraine</b> direkt unterstützten möchtest, dann melde Dich gerne per E-Mail bei uns. Jede Art von Talenten ist willkommen: <b><a href="mailto:info@studentsforukraine.de" class="highlight-links">info@studentsforukraine.de</a></b>.</p>
          </div>
        </div>
      </div>

{{ end }}